[connections.gsheets]
spreadsheet = "https://docs.google.com/spreadsheets/d/1cF9mfhyVOukIPydhFN9aG7VryWRvvv8UoqlcHoxsUiI/edit?gid=2001564991#gid=2001564991"
type = "service_account"
# Add the remaining service-account JSON fields in this same block.
